<% include common/header %>

<div class="main">
    <div class="main-block">
        <div class="main-block-title">Mail List</div>
        <!-- page: <%= page %> -->

        

        <div class="list-info">
            <% if (page == "mailList") {%>
                邮件总数 - <%=listLength%>
                <span class="gap-line">|</span>
                节日邮件 - 5
                <span class="gap-line">|</span>
                专题邮件 - 5
                <span class="gap-line">|</span>
                市场&行业分析报告 - 5
                <span class="gap-line">|</span>
                市场&行业分析报告2 - 5
                <span class="gap-line">|</span>
                资讯快递 - 5
            <% } else if (page == "mailSearchList") { %>
                搜索到关于 <strong><%=keyword%></strong> 的 <%=listLength%> 封邮件
            <% } %>
        </div>

        <div class="filter-box">
            <div class="input-group">
                <form action="/mail-search" method="post">
                    <input class="input-text" type="text" name="keyword" id="" placeholder="请输入邮件标题"> <button class="btn" type="submit">搜索</button>
                </form>
            </div>
            <div class="input-group">
                <form action="/mail-search" method="post">
                    <select class="select" name="type" id="">
                        <option>选择类别</option>
                        <option value="节日">节日</option>
                        <option value="专题">专题</option>
                        <option value="市场&行业分析报告">市场&行业分析报告</option>
                        <option value="市场&行业分析报告2">市场&行业分析报告2</option>
                        <option value="资讯快递">资讯快递</option>
                    </select>
                    <button class="btn" type="submit">搜索</button>
                </form>
            </div>
        </div>

        
        <% if (listLength > 0) { %>
            <table class="list-table">
                <colgroup>
                    <col width="">
                    <col width="180">
                    <col width="">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="120">
                </colgroup>
                <tr>
                    <th>标题</th>
                    <th>类别</th>
                    <th>说明</th>
                    <th>添加人</th>
                    <th>
                        添加日期
                        <a href="#">az</a>
                        <a href="#">za</a>
                    </th>
                    <th>修改人</th>
                    <th>
                        修改日期
                        <a href="#">az</a>
                        <a href="#">za</a>
                    </th>
                    <th>操作</th>
                </tr>
                <% for (var i=0; i<mailList.length; i++) {%>  
                    <tr data-id="<%= mailList[i]._id %>">
                        <td><%= mailList[i].title %></td>
                        <td><%= mailList[i].type %></td>
                        <td><%= mailList[i].description %></td>
                        <td><%= mailList[i].author %></td>
                        <td><%= moment(mailList[i].addDate).format('YYYY.MM.DD HH:mm') %></td>
                        <td><%= mailList[i].updater %></td>
                        <td>
                            <% if (mailList[i].updateDate) { %>
                                <%= moment(mailList[i].updateDate).format('YYYY.MM.DD HH:mm') %>
                            <% } %>
                        </td>
                        <td>
                            <div class="act-list">
                                <a class="act-title" href="#">操作</a>
                                <ul>
                                    <li><a href="#" class="J-modify">修改</a></li>
                                    <li><a href="#" class="J-delete">删除</a></li>
                                    <li><a href="#" class="J-show-mail-html">邮件源码</a></li>
                                    <li><a href="#" class="J-show-web-html">网页源码</a></li>
                                    <li><a href="#" class="J-preview">预览</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <% } %>
            </table>

            <div class="pager J-pager">
                <% var pageNum = Math.ceil(listLength/pageSize) %>
                <% currentPage = parseInt(currentPage) %>

                <% if (currentPage > 1) { %>
                    <a href="/mail-list?page=<%= currentPage-1 %>">Prev</a>
                <% } %>

                <% if (pageNum >= 9 ) { %>
                    <% if (currentPage <= 5) { %>
                        <% for (var i=1; i<=8; i++) { %>
                            <% if (i == currentPage) { %>
                                <b><%=i%></b>
                            <% } else { %>
                                <a href="/mail-list?page=<%=i%>"> <%=i%></a>
                            <% } %>
                        <% } %>
                        <span class="dot">...</span>
                        <a href="/mail-list?page=<%= pageNum %>"><%= pageNum %></a>

                    <% } else { %>
                        <a href="/mail-list"> <%=i%></a>
                        <span class="dot">...</span>
                        <% for (var i=currentPage-3; i<=currentPage+3; i++) { %>
                            <% if (i > pageNum) { %>
                                <% break %>
                            <%} %>
                            <% if (i == currentPage) { %>
                                <b><%=i%></b>
                            <% } else { %>
                                <a href="/mail-list?page=<%=i%>"> <%=i%></a>
                            <% } %>
                        <% } %>
                        <% if (currentPage+4 < pageNum) { %>
                            <span class="dot">...</span>
                            <a href="/mail-list?page=<%= pageNum %>"><%= pageNum %></a>
                        <% } %>
                    <% } %>
                    
                <% } else { %>
                    <% for (var i=1; i<=pageNum; i++) { %>
                        <% if (i == currentPage) { %>
                            <b><%=i%></b>
                        <% } else { %>
                            <a href="/mail-list?page=<%=i%>"> <%=i%></a>
                        <% } %>
                    <% } %>
                <% } %>

                <% if (pageNum - currentPage >= 1) { %>
                    <a href="/mail-list?page=<%= parseInt(currentPage)+1 %>">Next</a>
                    <a href="/mail-list?page=<%= pageNum %>">Last</a>
                <% } %>
            </div>
        <%} else { %>
            <div class="list-no-result">
                No Result
            </div>
        <%}%>    
    </div>

    



</div>

<script src="js/mail-list.js"></script>

<% include common/footer %>