<% include common/header %>

<div class="main">
    <div class="main-block">
        page: <%= page %>

        <div class="search">
            <form action="/mail-search" method="post">
                <input type="text" name="keyword" id="" placeholder="请输入邮件标题"> <button type="submit">搜索</button>
            </form>
        </div>

        <div class="filter-box">
            <form action="/mail-search" method="post">
                <select name="type" id="">
                    <option>选择类别</option>
                    <option value="节日">节日</option>
                    <option value="专题">专题</option>
                    <option value="市场&行业分析报告">市场&行业分析报告</option>
                    <option value="市场&行业分析报告2">市场&行业分析报告2</option>
                    <option value="资讯快递">资讯快递</option>
                </select>
                <button type="submit">搜索</button>
            </form>
                
        </div>

        <%=listLength%>
        <% if (listLength > 0) { %>
            <table class="list-table">
                <tr>
                    <th>标题</th>
                    <th>类别</th>
                    <th>说明</th>
                    <th>添加人</th>
                    <th>
                        添加日期
                        <a href="#">az</a>
                        <a href="#">za</a>
                    </th>
                    <th>修改人</th>
                    <th>
                        修改日期
                        <a href="#">az</a>
                        <a href="#">za</a>
                    </th>
                    <th>操作</th>
                </tr>
                <% for (var i=0; i<mailList.length; i++) {%>  
                    <tr data-id="<%= mailList[i]._id %>">
                        <td><%= mailList[i].title %></td>
                        <td><%= mailList[i].type %></td>
                        <td><%= mailList[i].description %></td>
                        <td><%= mailList[i].author %></td>
                        <td><%= moment(mailList[i].addDate).format('YYYY.MM.DD HH:mm') %></td>
                        <td><%= mailList[i].updater %></td>
                        <td>
                            <% if (mailList[i].updateDate) { %>
                                <%= moment(mailList[i].updateDate).format('YYYY.MM.DD HH:mm') %>
                            <% } %>
                        </td>
                        <td>
                            <a href="#" class="J-modify">修改</a>
                            <span class="gap-line">|</span>
                            <a href="#" class="J-delete">删除</a>
                            <span class="gap-line">|</span>
                            <a href="#" class="J-show-mail-html">邮件源码</a>
                            <span class="gap-line">|</span>
                            <a href="#" class="J-show-web-html">网页源码</a>
                            <span class="gap-line">|</span>
                            <a href="#" class="J-preview">预览</a>
                        </td>
                    </tr>
                <% } %>
            </table>

            <div class="pager J-pager">
                <% for (var i=1; i<=Math.ceil(listLength/4); i++) { %>
                    <% if (i == currentPage) { %>
                        <b><%=i%></b>
                    <% } else { %>
                        <a href="/mail-list?page=<%=i%>"> <%=i%></a>
                    <% } %>
                <% } %>
            </div>
        <%} else { %>
            <div class="list-no-result">
                No Result
            </div>
        <%}%>    
    </div>

    



</div>

<script src="js/mail-list.js"></script>

<% include common/footer %>